:root {
  --nav-width: 15rem;
  --c-main-1: rgb(255, 178, 12);
  --c-main-2: darkorange;
  --c-second-1: rgb(56, 199, 255);
  --c-bg-1: rgb(252, 252, 252);
  --c-bg-2: rgba(0, 0, 0, 0.35);
  --c-bg-3: rgba(0, 0, 0, 0.75);
  --c-bg-4: rgb(250, 250, 250);
  --c-bg-5: rgb(224, 224, 224);
  --c-font-1: rgb(29, 29, 29);
  --f1: "Noto Sans";
}
body {
  font-family: var(--f1);
  margin: 0;
}
body * {
  box-sizing: border-box;
}